<div class="projects-list col-md-12">
    <ul class="row">
        {% for item in site.data.projects reversed %}
            {% assign check = forloop.index | modulo:2 %}
            <li class="project-item col-md-5 {% if check == 0 %}col-md-offset-1{% endif %}">
                <a href="{{ item.projectPage }}">
                    <h6 class="project-title">{{ item.title }}</h6>
                    <p class="project-details">{{ item.description }}</p>
                    <span class="project-tags">
                        {% for tag in item.tags %}
                            #{{ tag }}{% if forloop.index < forloop.length %}, {% endif %}
                        {% endfor %}
                    </span>                  
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
