<section id="focusing" class="focusing">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>I’m focusing</h3>
            {% for focusing in site.data.vitaliy.focusing %}
            <div class="focusing-col col-md-6 hiding animated" data-animation="fadeInUp" data-delay="250">
            	<svg class="focusing-icon icon icon-{{ focusing.icon }}">
					<use xlink:href="{{ "/img/icons/sprite.svg#icon-" | prepend: site.baseurl | append: focusing.icon }}"></use>
				</svg>
	            <h4>{{ focusing.title }}</h4>
	            <div class="dash"></div>
	            <p>{{ focusing.description }}	
	            <div class="dash"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>