.post {
	margin-bottom: 60px;
	img {
		margin: 20px auto;	
		max-height: 500px;
	}
}
.post-title {
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 1px;
}
.post-metadata {
	font-size: 16px;
}
.post-date {
	color: #838383;
	font-size: 14px;
	text-transform: uppercase;
}
.post-content {
	margin-top: 15px;
	letter-spacing: 1px;
}
.post-read-more {
	margin-top: 10px;
	display: block;
}
.post-categories {
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin-left: 5px;
	}
}