.post {
	margin-bottom: 60px;
	img {
		margin: 20px auto;	
	}
}
.post-title {
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 1px;
}
.post-metadata {
	font-size: 16px;
}
.post-content {
	margin-top: 15px;
	letter-spacing: 1px;
}
.post-read-more {
	margin-top: 10px;
	display: block;
}