<div class="article-list col-md-6">
    <ul>
    {% for post in site.posts %}
        <li class="article-item">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="left text-right">
                    <span class="date">{{ post.date | date: "%-d/%b" }}</span>
                    <span class="year">{{ post.date | date: "%Y" }}</span>
                </div>
                <div class="right">
                    <h5 class="article-title">{{ post.title }}</h5>
                    <p class="article-intro">
                        {{ post.content | strip_html | truncate: 350 }}
                    </p>
                    <span class="categories">
                        {% for category in post.categories %}
                            #{{ category }}{% if forloop.index < forloop.length %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
<hr class="visible-xs">
<div class="on-web col-md-5 col-md-offset-1">
    <h5>{{ site.data.vitaliy-on-web.block_title }}</h5>
    <ul>
    {% for item in site.data.vitaliy-on-web.list reversed limit:5 %}
        <li class="on-web-item">
            <a href="{{ item.link }}">
                <h6 class="on-web-title">{{ item.title }}</h6>
                <p class="on-web-detail">
                    <span class="source-name">{{ item.source-name}}</span> 
                    <span class="divider">//</span>
                    <span class="type">{{ item.type }}</span>
                </p>
            </a>
        </li>
    {% endfor %}
    </ul>
    <a class="side-link" href="{{ "/me-on-web/" || prepend: site.baseurl }}">See all</a>
</div>
