<header class="header">
    <a class="logo-header" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/img/vitaliy/logo.svg" | prepend: site.baseurl }}" alt="{{ site.data.vitaliy.name | append: " " | append: site.data.vitaliy.surname}}" height="100px">
    </a>
    <nav class="nav">
        <ul>
            {% for nav in site.data.vitaliy.navigation %}
                {% if nav.major == null or nav.major == page.permalink %}
                <li>
                    {% assign navlink = nav.permalink | prepend: site.baseurl %}
                    <a class="nav-link {% if nav.permalink == "/blog/" %}current{% endif %} {{ nav.class }}" href="{{ navlink }}" {% if nav.link %}target="_blank"{% endif %}>{{ nav.text }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>