.blog-container {
	padding-top: 50px;
}
.article-list {
	span {
		display: block;
	}
	.left {
		width: 75px;
		float: left;
	}
	.right {
		margin-left: 100px;
	}
	.date {
		color: $main-color;
		text-transform: uppercase;
		font-weight: $bold;
	}
	.year {
		font-weight: $bold;
		color: $header-color;
		line-height: 100%;
		font-size: $base-font-size * 0.8;
	}
	.article-title {
		color: $header-color;
	}
	.categories {
		color: $sub-color;
	}
}
.article-item {
	margin-bottom: 50px;
	list-style: none;
	&:last-child {
		margin: 0;
	}
}
.article-intro {
	color: $text-color;
}