.article {
	float: none;
	line-height: 1.6em;
  h1, h2, h3, h4, h5, h6  { 
  	margin-bottom: 14px; 
  	font-weight: $bold - 100; 
  	line-height: 1.3em; 
  }
  h1 { font-size: 2.2em; letter-spacing: -1px; }
  h2 { font-size: 1.9em; letter-spacing: -0.7px; }
  h3 { font-size: 1.6em; letter-spacing: -0.5px; }
  h4 { font-size: 1.4em; letter-spacing: -0.3px; }
  h5 { font-size: 1.2em; font-weight: $bold; }
  h6 { font-size: 1em; font-weight: $bold; text-transform: uppercase; }
  p { 
  	margin-bottom: 1em; 
  }
  ol, ul { 
  	margin: 0 0 15px 30px; 
  }
  ol ol, ol ul, ul ul, ul ol { 
  	margin-bottom: 0; 
  }
  li { 
  	margin: 0; 
  }
  blockquote { 
  	position: relative; 
  	color: #777; 
  	font-style: italic; 
  	margin: 0 0 20px 0; 
  	padding-left: 50px; 
  	border: 0px; 
  }
  blockquote p { 
  	margin-bottom: 0.75em; 
  }
  blockquote:before { 
  	content: "\f10d"; 
  	color: #ccc; 
  	font-size: 32px; 
  	font-style: normal; 
  	font-family: FontAwesome; 
  	text-align: center; 
  	position: absolute; 
  	left: 0; 
  	top: 0; 
  }
	img {
		margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		@extend .img-responsive;
	}
	.note {
		margin: 25px 15px;
		padding: 10px 15px;
		border-left: 5px solid $main-color;
	}
	.quote {
		margin: 25px 15px;
		padding: 10px 20px;
		display: flex;
		border-right: 5px solid $sub-text-color;
		font-style: italic;
		text-align: right;
	} 
}
.article-header {
	margin-bottom: 40px;
	padding: 40px 0 50px;
	background: $header-color;
	@media (max-width: 767px) {
        padding: 20px 0 30px;
    }
}
.article-title {
	color: #ffffff;
}
.article-description {
	color: $sub-text-color;
}
.article-meta {
	float: right;
	font-size: $base-font-size * 0.9;
	text-transform: uppercase;
	z-index: 1;
	@media (max-width: 767px) {
        float: left;
    }
	ul {
		margin: 50px 0 30px 30px;
		padding: 25px;
		background: #222222;
		@media (max-width: 767px) {
	        margin: 0 10px 40px;
	    }
	}
	li {
		margin-bottom: 20px; 
		list-style: none;
		&:last-child {
			margin: 0;	
		}
	}
	a {
		color: #ffffff;
	}
	.name {
		color: $sub-text-color;
		display: block;
		line-height: 100%;
	}
	.value {
		color: #ffffff;
		display: inline-block;
		line-height: 100%;
	}
}