.article {
	float: none;
	img {
		margin: 30px auto;
		@extend .img-responsive;
	}
	h4 {
		margin-top: 30px;
	}
	h5 {
		margin-top: 20px;	
	}
	.note {
		margin: 25px 15px;
		padding: 10px 15px;
		border-left: 5px solid $main-color;
	}
	.quote {
		margin: 25px 15px;
		padding: 10px 20px;
		display: flex;
		border-right: 5px solid $sub-text-color;
		font-style: italic;
		text-align: right;
	} 
}
.article-header {
	margin-bottom: 40px;
	padding: 40px 0 50px;
	background: $header-color;
	@media (max-width: 767px) {
        padding: 20px 0 30px;
    }
}
.article-title {
	color: #ffffff;
}
.article-description {
	color: $sub-text-color;
}
.article-meta {
	float: right;
	font-size: $base-font-size * 0.9;
	text-transform: uppercase;
	z-index: 1;
	@media (max-width: 767px) {
        float: left;
    }
	ul {
		margin: 50px 0 30px 30px;
		padding: 25px;
		background: #222222;
		@media (max-width: 767px) {
	        margin: 0 10px 40px;
	    }
	}
	li {
		margin-bottom: 20px; 
		list-style: none;
		&:last-child {
			margin: 0;	
		}
	}
	a {
		color: #ffffff;
	}
	.name {
		color: $sub-text-color;
		display: block;
		line-height: 100%;
	}
	.value {
		color: #ffffff;
		display: inline-block;
		line-height: 100%;
	}
}