.header {
    padding: 60px 50px 80px;
    @media (max-width: 767px) {
        padding: 40px 0 30px;
    }
}
.logo-header {
    display: inline-block;
    margin: 0 60px;
    @media (max-width: 767px) {
        display: block;
    }
    img {
        margin: 0 auto;
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.nav {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media (max-width: 767px) {
        margin-top: 15px;
        display: block;
        text-align: center;
    }
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 12px;
        @media (max-width: 767px) {
            line-height: 220%;
        }
    }
    .nav-link {
        padding: 0 2px 8px;
        outline: 0;
        font-size: 16px;
        color: $text-color;
        &.current {
            border-bottom: 3px solid $main-color;
        }
        @media (max-width: 767px) {
            padding-bottom: 4px;
        }
    }
}
