.image-section {
    color: #ffffff;
    font-weight: $light;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
}
.flow-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}