<div class="on-web-list col-md-12">
    <ul class="row">
        {% for item in site.data.vitaliy-on-web.list reversed %}
        {% assign check = forloop.index | modulo:2 %}
        <li class="on-web-item col-md-5 {% if check == 0 %}col-md-offset-1{% endif %}">
            <a href="{{ item.link }}">
                <h6 class="on-web-title">{{ item.title }}</h6>
                <p class="on-web-detail">
                    <span class="source-name">{{ item.source-name}}</span>
                    <span class="divider">//</span>
                    <span class="type">{{ item.type }}</span>
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
