<nav id="menu" class="nav st-menu st-effect">
	<div class="logo-wrapper text-center">
        <a href="{{ "/" | prepend: site.baseurl }}">
    		<svg class="icon icon-logo">
    	        <use xlink:href="{{ "/img/icons/sprite.svg#icon-logo" | prepend: site.baseurl }}"></use>
    	    </svg>
        </a>
    </div>
	<h2 class="text-center">{{ site.data.vitaliy.name | append: " " | append: site.data.vitaliy.surname}}</h2>
    <ul>
        {% for nav in site.data.vitaliy.navigation %}
            {% if nav.major == null or nav.major == page.permalink %}
            <li>
                {% assign link = nav.permalink | split:"#" %}
                {% if nav.permalink %} 
                    {% if link[0] == page.permalink %} 
                        {% assign navlink = "#" | append: link[1] %}
                    {% else %} 
                        {% assign navlink = nav.permalink | prepend: site.baseurl %}
                    {% endif %}
                {% else %} 
                    {% assign navlink = nav.link %}
                {% endif %}
                <a class="nav-link {% if nav.permalink == page.permalink or navlink == "#home" and page.permalink == "/" %}current{% endif %} {{ nav.class }}" href="{{ navlink }}" {% if nav.link %}target="_blank"{% endif %}>{{ nav.text}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<div id="menu-trigger" class="menu-trigger"> <span></span> <span></span> <span></span> </div>