.vitaliy-landing {
    padding: 0;
	background-image: url($image-dir + "/vitaliy/landing.jpg");
    background-attachment: fixed;
}
.welcome-block {
	text-transform: uppercase;
}
.welcome-text {
	font-size: 45px;
	letter-spacing: 10px;
}
.welcome-detail {
	font-size: 15px;
	letter-spacing: 3px;
	opacity: .7;
}
.explore {
    bottom: 35px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    p {
    	font-size: 11px;
		margin: 0 0 3px;
	    animation: fly 2s ease-in-out;
		animation-iteration-count: infinite;
    }
    .icon-arrow-down {
    	fill: rgba(255, 255, 255, .5);
	    animation: fly 2s ease-in-out;
		animation-iteration-count: infinite;
    }
}

@keyframes fly {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}