.work-experience {
	background: #363636;
	color: #9c9c9c;
	span {
		font-size: 15px;
		letter-spacing: 2px;
	}
}
.work-row {
	margin-top: 50px;
}
.work-position {
	font-weight: 400;	
}
.work-description {
	margin-top: 5px;
	line-height: 24px;
}