<section id="about" class="about-me about-vitaliy">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
        	<div class="about-photo col-centered flow-img img-circle" style="background-image: url({{ "/img/vitaliy/photo.jpg" | prepend: site.baseurl }})"></div>
            <h3>About Me</h3>
            <div class="dash"></div>
            <p class="hiding animated" data-animation="fadeInUp" data-delay="250">{{ site.data.vitaliy.about_me }}</p>
            <div class="dash"></div>
        </div>
    </div>
</section>