<section id="contact" class="footer">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>Contact me</h3>
            <div class="dash"></div>
            <p class="hiding animated" data-animation="fadeInUp" data-delay="250">{{ site.data.vitaliy.contact_me }}</p>
            <div class="dash"></div>
            <ul class="social-links">
				{% for social in site.data.vitaliy.social %}
				<li class="social-link">
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" title="{{ social.title }}" target="_blank">
						<svg class="icon icon-{{ social.icon }}">
							<use xlink:href="{{ "/img/icons/sprite.svg#icon-" | prepend: site.baseurl | append: social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
            </ul>
        </div>
    </div>
</section>