<section id="home" class="vitaliy-landing image-section full-screen">
    <div class="content-wrapper">
        <div class="welcome-block vertical-center col-md-10 col-md-offset-1">
            <div class="hiding animated" data-animation="fadeInUp" data-delay="350">
                <h1 class="welcome-text">{{ site.data.vitaliy.welcome_text }}</h1>
                <h5 class="welcome-detail">{{ site.data.vitaliy.welcome_detail }}</h5>
            </div>
        </div>
        <div class="horizontal-center explore">
            <p>Scroll down</p>
            <a href="#about" title="About">
                <svg class="icon icon-arrow-down">
                    <use xlink:href="{{ "/img/icons/sprite.svg#icon-arrow-down" | prepend: site.baseurl }}"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
