---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include blog/head.html %}

<body>
    <div id="st-container" class="container-fluid st-container blog">

        {% include blog/navigation.html %}

        <div class="st-pusher">
            <div class="st-content">
                	{{ content }}

                <div class="col-md-12 text-center">
                     <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a></p>
                </div>

            </div>
        </div>
    </div>
    
    {% include analytics.html %}
</body>

</html>
